<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Login</title>
</head>
<body>
    <h1>Login To Admin Panel</h1>
    <form action="/adminhomelogin" method="post" novalidate>
        <input type="email" name="adminEmail" placeholder="Enter Admin Email: ">
        <br>
        <input type="text" name="adminPassword" placeholder="Enter Admin Password: ">
        <br>
        <button type="submit">Login</button>
    </form>
</body>
</html>