<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Character</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <div class="container">
        <form action="/addCharacter" method="post" novalidate enctype="multipart/form-data">
            <br>
            <input type="file" name="image" placeholder="Select Image: ">
            <br>
            <input type="text" name="arabName" placeholder="Enter Arabic Image: ">
            <br>
            <input type="text" name="englName" placeholder="Enter English Name: ">
            <br>
            <input type="date" name="date" placeholder="Select Birthday: ">
            <br>
            <input type="text" name="nationality" placeholder="Enter Nationality: ">
            <br>
            <input type="text" name="residence" placeholder="Enter Residence: ">
            <br>
            <select name="catg">
                <option value="">Select Catg: </option>
                <% catgs.forEach((catg) => { %>
                    <option value="<%= catg.title %>"><%= catg.title %></option>
                <% }) %>
            </select>
            <br>
            <input type="text" name="job" placeholder="Enter Job: ">
            <br>
            <textarea name="desc" cols="30" rows="10" placeholder="Enter Desc: "></textarea>
            <br>
            <button type="submit">Add Character</button>
            <br>
        </form>
    </div>
</body>
</html>