<%- include('./partials/navbar') %>
    <title>من هم | سياسية الخصوصية</title>
    <link rel="stylesheet" href="/css/privacy.css">
    <!-- Main Start -->
    <main>
        <div class="container">
            <section class="content">
                <h2 class="heading">سياسة الخصوصية</h2>
                <h3 class="small-heading">الرئيسية / <span>سياسية الخصوصية</span></h3>
                <p>سياسة الخصوصية في منصة من هم</p>
                <p>
                    في منصة من هم، نقوم بجمع البيانات التي تسمح لنا بالتواصل معك أو تقديم مزايا العضوية لك (مثل متابعة شخصية ما).</p>
                <p>سنقوم بالاحتفاظ بمعلوماتك الشخصية (الاسم، المهنة، العنوان، المدينة، الدولة، مكان
                    العمل)، بالإضافة إلى معلومات الاتصال بك (رقم الهاتف والبريد الإلكتروني). نلتزم بالحفاظ على خصوصية هذه
                    المعلومات، وسوف نتخذ كل الاجراءات الضرورية لمنع أي طرف ثالث من الحصول عليها، أو مراسلتك بدون موافقتك، ولن
                    يُسمح بالوصول إلى المعلومات إلا للأشخاص المؤهلين والمحترفين الذين يشرفون على منصة من هم.</p>
                <p>
                    نحن نستخدم طرقاً مناسبة لجمع البيانات وتخزينها ومعالجتها وتدابير الأمن لحمايتها من الوصول اليها الغير المصرح
                    به أو التغيير أو الإفصاح أو إتلاف معلوماتك الشخصية واسم المستخدم وكلمة المرور ومعلومات المعاملات والبيانات
                    المخزنة على موقعنا.</p>
                <p>الأساس القانوني لمعالجة البيانات الشخصية بموجب القاعدة العامة لحماية البيانات (GDPR):
                    إذا كنت من المنطقة الاقتصادية الأوروبية (EEA)، يعتمد الأساس القانوني لمنصة من هم لجمع واستخدام المعلومات
                    الشخصية الموضحة في سياسة الخصوصية هذه على البيانات الشخصية التي نجمعها والسياق المحدد الذي نجمعها فيه. إذا كنت
                    مقيماً في المنطقة الاقتصادية الأوروبية، فلديك حقوق حماية معينة فيما يخص بياناتك. نهدف إلى اتخاذ خطوات معقولة
                    تسمح لك بتصحيح أو تعديل أو حذف أو تحديد استخدام بياناتك الشخصية. إذا كنت ترغب في أن تكون على علم بالبيانات
                    الشخصية التي نحتفظ بها عنك، وإذا كنت تريد إزالتها من أنظمتنا، فالرجاء الاتصال بنا.</p>
                <p>
                    في حال اشتركت بنشرتنا البريدية، ستصلك منا مختارات من محتويات المنصة، بالإضافة إلى عروض الاشتراك. يمكنك إلغاء
                    الاشتراك في أي وقت من خلال الضغط على "إلغاء الاشتراك" في أي من نشراتنا.</p>
                <p>
                    لن يتم الاحتفاظ بمعلومات بطاقتك الائتمانية أو بطاقة الحسم المباشر، بما في ذلك الاسم على البطاقة أو رقم البطاقة
                    أو تاريخ الصلاحية، أو تسليمها لأي طرف ثالث.</p>
                <p>
                    في حال كنت تشعر بالقلق على بياناتك، يحقّ لك طلب الدخول إلى حسابك والاطلاع على البيانات الشخصية التي نحتفظ بها
                    والتي قمت بإعطائنا إياها. ويحق لك أن تطلب منا تصحيح أية أخطاء في بياناتك الشخصية دون أن تترتب عليك أية رسوم.
                    ولك الحق، في أي وقت، بطلب عدم الاتصال بك أو حذف معلوماتك المتوافرة لدينا.</p>
                <p>
                    تظهر على الموقع والتطبيق إعلانات تجارية تتبع لشركات خارجية لا ترتبط بمنصة من هم. قد تجمع هذه الإعلانات معلومات
                    عن زيارتك للموقع، أو لمواقع أخرى، لكن هذه المعلومات ستكون مجهولة الهوية، ولن تتمكن هذه الإعلانات من معرفة اسمك
                    أو أية من معلوماتك الشخصية.</p>
                <p>
                    قد يتم تحديث سياسة الخصوصية، دون إبلاغ القراء أو المشتركين، لذلك ندعوكم للإطلاع ومراجعة الصفحة بشكل منتظم في
                    حال رغبتم بالاطلاع على أحدث التفاصيل فيما يتعلق بمعلوماتكم على الموقع والتطبيق.</p>
                <h2>
                    للمزيد من المعلومات، نرجو منكم التواصل مع خدمة القراء والمشتركين على</h2>
            </section>
        </div>
    </main>
    <!-- Main End -->

<%- include('./partials/footer') %>